@model IEnumerable<Bangazon.Models.ProductTypesViewModel>

@{
    ViewData["Title"] = "Product Types";
}

<h2>Product Types</h2>

<table class="table">

        @*<thead>
    @foreach (var item in Model)
    {
            <tr>
                <a>
                    @Html.DisplayFor(modelItem => item.Label)
                </a>
            </tr>
    }
        </thead>*@
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        <a asp-action="Details" asp-route-id="@item.ProductType.Label">
                            <h4>@item.ProductType.Label (@item.GroupedProducts.Count)</h4>
                        </a>
                    </th>
                    <td>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
